<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog App</title>
    <link rel="stylesheet" href="static/css/base.css" />
    </head>
  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <a href="/" class="navbar-item"><strong>Blog App</strong></a>
      </div>
    </nav>

    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>
    <br>
  </body>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="a">About</h6>
          <p class="text-justify">My name is Kumar Sanskar, I am Python Backend Developer currently pursuing B.Tech at KIIT University in IT stream.</p>
        </div>
        <br>

        <div class="col-xs-6 col-md-3">
          <h6 class="a">Quick Links</h6>
          <ul class="footer-links">
            <li>
              <a href="https://www.linkedin.com/in/kumar-sanskar-618009222/"
                >LinkedIn</a
              >
            </li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://github.com/Sanskar1862">Github</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
  </footer>
</html>
